html{
    background-color: #2e70b4;

}

body {
    
    padding-bottom: 100px;
    background-color: #2e70b4;
    
}

main{
margin: 0%;
padding: 0%;
background-color: #2e70b4;
width: 100%;
justify-content: center;
display: flex;

}

.responsive{
    max-width: 100%;
}

.skill-images{
    width: 20vh;
    padding: 1rem;

}

.project-images{
    width: 40vh;
    padding: 1rem;
 
}

.menu{
    background-color:#5a9cdf ;
}

.menu-button {
    text-decoration: none;
    /*width: 12vh;*/
    height: 6.5vh;
    background-color: #e9e9e9;
    color: rgb(155, 155, 155);
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 2.5vh;
    border-color: #e9e9e9;
    border-radius: 3.0vh;
           
}

.menu-button:hover{
    background-color: #ffffff;
}

#myVideo {
    object-fit: contain;
    object-fit: cover;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    
}

.video-box{
    background-color: #2e70b4;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
         
}

.video-box-child{
    text-align: center;
    
}


.nav-box-text{
    margin: 3%;
}

.nav-box-button{
    background-color: #5a9cdf;
    color:white;
    margin: 0.5rem;
    width: auto;
    font-weight: bolder;
    font-size: 150%;
 
}

.nav-box-button:hover{
    background-color: #ffffff;
    color:#2e70b4;

}


.image{
    max-width: 100%;
    
}

.content-container{
    max-width: 80%;
    display: block;

}

.titles-container{
    Background-color:#5a9cdf;

}

.titles{
    font-size: 130%;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 0.5%;
}


.section-container-1{
    background-color: #2e70b4;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    height: auto;

}

.section-container-2{
    background-color: #2e70b4;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;

}

.section-child{

margin-left: auto;
margin-right: auto;

}

.sections-text {
    text-align: left;
    padding-left: 1rem;
       
}

.sections-title {
    text-align: center;
    padding: 0.5rem;
    font-size: bolder;
    color:rgb(255, 254, 252);
}

.job-logos{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 33%;
    padding: 0.5rem;

}

.img-responsive{
    max-width: 100%;
    position: relative;
}

video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }

/* ------------>>>>CARUSEL DE IMAGENES<<<<------------ */

/*div#page {
    margin-left: 1em;
    margin-right: 1em;
}
#options{
	margin: 1em 1em 0em 1em;
}
.carousel-control.left,.carousel-control.right{
	background:none !important;
}
#myCarousel img{
	width: 100%;
    max-width: 50%;
    
}
.optionBox,#optionHead1,#optionHead2{
	text-align:center;
}
.carousel-inner  {
    background-color: black;
    
}*/

/*.buttons{
	width: 6%;
    position: absolute;
    top: 2%;
    left: 4%;
    z-index: 99;
}
.buttons button{
	display:block;
	margin-bottom: 3px;

}*/

/* CSS REQUIRED */
/*.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}*/

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
/*.well .list-group {
    margin-bottom: 0px;
}*/

@media screen and (min-width: 768px)
{
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: -45px !important;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -45px !important;
	}
	/* #options .row:nth-child(1){
		margin-bottom:4em;
	} */
    .ff-logos{
        height: 30vh; width: 100%; padding: 1rem;
    }
    .afiches{
        height: 40vh; width: 100%; padding: 1rem;
    }
    .fotos{
        height: 40vh; width: 100%; padding: 1rem;
    }
}

@media screen and (max-width: 960px) {
    .ff-logos{
        height: 20vh; width: 100%; padding: 0.5rem;
    }
    .afiches{
        height: 27vh; width: 100%; padding: 0.5rem;
    }
    .fotos{
        height: 30vh; width: 100%; padding: 0.5rem;
    }
}


/* .cont-projects{
    height: 700px;
} */



