html{
    background-color: #2e70b4;

}

body {
    padding-top:8.9vh;
    padding-bottom: 100px;
    background-color: #2e70b4;
    
}

main{
margin: 0%;
padding: 0%;
background-color: #2e70b4;
width: 100%;
justify-content: center;
display: flex;

}

.responsive{
    max-width: 100%;
}

.skill-images{
    width: 20vh;
    padding: 1rem;
    filter: drop-shadow(20px 13px 4px #00000057);
    animation-duration: 1s;
    animation-name: palpatin;
    animation-iteration-count: infinite;
    animation-direction: alternate; 

}

.skill-images:hover{
    transform: scale(0.93)
}

.ingo-foto{
    width: 20vh;

}

.project-images{
    width: 40vh;
    padding: 1rem;
    filter: drop-shadow(20px 13px 4px #00000057);

}

.project-images:hover{
    filter: grayscale(100%);
    transform: rotate(2.5deg) scale(0.95);
   
}

.menu{
    background-color:#135699d5
    /*background-color:#5a9cdf ;*/
}

.menu-2{
    background-color:#135699ca
    /*background-color:#5a9cdf ;*/
}

.menu-button {
    text-decoration: none;
    /*width: 12vh;*/
    height: 6.5vh;
    background-color: #e9e9e9;
    color: rgb(155, 155, 155);
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 2.5vh;
    border-color: #e9e9e9;
    border-radius: 3.0vh;
           
}

.menu-button:hover{
    background-color: #ffffff;
}

#myVideo {
    object-fit: contain;
    object-fit: cover;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    
}

.video-box{
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
         
}

.video-box-child{
    text-align: center;
    
}


.nav-box-text{
    margin: 3%;
}

.menu-button{
    background-color: #5a9cdf;
    color:white;
   
}

.menu-button:hover{
    filter: grayscale(100%);

}


.image{
    max-width: 100%;
    
}

.content-container{
    max-width: 80%;
    display: block;

}

.titles-container-0{
    Background-color:#5a9cdf;

}

.titles-container{
    Background-color:#5a9cdf;

}

.titles{
    font-size: 130%;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 0.5%;
}


.section-container-1{
    background-color: #2e70b4;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    height: auto;

}

.section-container-2{
    background-color: #2e70b4;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;

}

.section-child{

margin-left: auto;
margin-right: auto;

}

.sections-text {
    text-align: left;
    padding-left: 1rem;
    font-size: 14px;
       
}

.sections-text-2 {
    text-align: left;
    padding-left: 1rem;
    font-size: 12px;
    color: white;
    font-weight: bold;
       
}

.sections-title {
    text-align: center;
    padding: 0.5rem;
    font-size: bolder;
    color:rgb(255, 254, 252);
}

.job-logos{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 33%;
    padding: 0.5rem;

}

.ff-visor{
    max-width: 100%;
    height: 14vw;
    animation-duration: 1s;
    animation-name: intensitive;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.chibi-logo{
    animation: tilt-shaking 0.15s infinite;
    filter: drop-shadow(20px 13px 4px #00000057);
}

.chibi-logo:hover{
    filter: grayscale(100%) drop-shadow(20px 13px 4px #00000057);
    transform: scale(100px);
    
}

.chibi-bio{
    filter: drop-shadow(20px 13px 4px #00000057);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.afiches{
    filter: drop-shadow(20px 13px 4px #00000057);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.download-cv-button{
    width: 11vw;
    height: 26vh;
    filter: drop-shadow(20px 13px 4px #00000057);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: tilt-shaking 0.15s infinite;
    
}

.download-cv-button:hover{
    filter: grayscale(100%) drop-shadow(20px 13px 4px #00000057) ;
    transform: scale(0.95);
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }

  .mini-cont-0{
    margin: 3.5vh;
   }

.mini-cont-1{
 margin-top: 60px;
}

.img-responsive{
    max-width: 100%;
    position: relative;
    
}

video {
    /* override other styles to make responsive */
    width: 70%    !important;
    height: auto   !important;
  }

@media screen and (min-width: 768px)
{
	.ff-logos{
        height: 30vh; width: 100%; padding: 1rem;
    }
    .afiches{
        height: 40vh; width: 100%; padding: 1rem;
    }
    .fotos{
        height: 30vh; width: 100%; padding: 1rem;
    }
   .chibi-video-box {
        width: 20%    !important;
        height: auto   !important;
        padding: 0.5rem;
   }

   .concept-art{
    height: 42vh; width: 100%; padding: 0.5rem;
   }

   .chibi-logo{
    height: 30vh; width: 100%; padding: 0.5rem;
   }

   .menu-2{
    visibility: hidden;
}

.titles-container{
    margin-bottom: 1rem;
}

}

@media screen and (max-width: 960px) {
    .ff-logos{
        height: 20vh; width: 100%; padding: 0.5rem;
    }
    .afiches{
        height: 27vh; width: 100%; padding: 0.5rem;
    }
    .fotos{
        height: 23vh; width: 100%; padding: 0.5rem;
    }
    
    video {
        width: 100%    !important;
        height: auto   !important;
    }
    
    .chibi-video-box {
        width: 40%    !important;
    height: auto   !important;
    margin-left: 0rem;
    margin-right: 0rem;
    margin: 0.7rem;
   }

   .concept-art{
    height: 20vh; width: 100%; padding: 0.5rem;
   }
    
   .chibi-logo{
    height: 23vh; width: 100%; padding: 0.5rem;
   }

   .ff-visor{
    max-width: 100%;
    height: 20vh;
    }

    .cv-cont{
        margin: 0%;
        padding: 0%;
    }

    .download-cv-button{
        width: 150px;
        height: 150px;
    }

    .mini-cont-0{
        width: 160px;
        height: 160px;
        margin: 1.5vh;
        margin-top: 20px;
 
    }

    .mini-cont-1{
        width: 170px;
        margin-bottom: 8%;
        margin-top: 5px; 
        
    }

    .skill-images{
        width: 14vh;
        padding: 0.9rem;
    
    }

    .skill-images:hover{
        transform: scale(0.0)
    }

    .menu{
        visibility: hidden;
    }

    body {
        padding-top:0.0vh;
    }


@keyframes palpatin {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.afiches{
    filter: drop-shadow(20px 13px 4px #00000057);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 25vh; width: 35vw;
    
}

}


